.header {
  padding: 20px 0;
  margin-bottom: 15px;
  grid-area: h;
  background-color: green;
}

.header__logo {
  justify-self: center;
}

.header__logo img {
  background-color: transparent;
  max-width: 100%;
  display: block;
  height: auto;
}